/* selector directoa la etique */
body
{
    background-color: chocolate;
}

h4
{
    background-color: maroon;
}

/* uso de clase en la etiqueta */
.title
{
    font-size: 2.3em;
    color: crimson;
}

.logo
{
    width: 200px;
    
}

.cards
{
    border: 2px solid black;
    width: fit-content; /* genera el ancho de acuerdo a lo que tenga*/  
    padding: 0px 1em .5em 1em;
    border-radius: 7%;
    transition: 1s; /* tiempo que tarda en hacer o regresar a su estado normal */
}

/*cuando se pasa el raton*/
.cards:hover
{
    background-color: darkgoldenrod;
}

/* uso de id en la etiqueta - no se puede repetir */
#titulos
{
    border: 2px solid black;
    /*viewport view = pantalla en donde estoy navegando*/
    width: 60vw;
    margin: auto;  /*centrar el div*/
    padding: 1em;
}

#principal
{
    font-size: 4em;
}